@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: #eaebed;
    height: 100vh;
    font-family: poppins, sans-serif;
    color: #244d61;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    padding: 33px 0;
}

.sidebar nav li a{
    font-size: 2.2vw;
    /* 3 */
    font-weight: bold;
    text-decoration: none;
    color: #244d61;
}

.sidebar nav li a:hover{
    color: #5689c0;
}

.main{
    background-color: #75e2ff;
    width: 100vw;
    padding: 10px;
    height: 97vh;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: #5689c0;
    width: 80%;
    min-height: 60vh;
    height: auto;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eaebed;
    flex-wrap: wrap-reverse;
    border-radius: 10px;
}

.devInfo{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    padding: 2px;
    font-size: 3.6vw; 
    /* 5 */
}

.name{
    padding: 2px;
    font-size: 3.6vw;
    font-weight: bold;
    /* 5 */
}

.about{
    padding: 2px;
    font-size: 1.5vw;
    /* 2 */
    width: 100%;
}

.aboutMore{
    padding: 2px;
    font-size: 1.5vw;
    /* 2 */
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 2px;
}

.buttons button{
    width: 110%;
    font-size: 1.6vw;
    /* 2.3 */
    color: #eaebed;
    background-color: #244d61;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.btn1:hover{
    color: #244d61;
    background-color: #eaebed;
}

.btn2:hover{
    color: #244d61;
    background-color: #eaebed;
}


.devPic img{
    height: 50vh;
    border-radius: 20px;
    justify-content: center;
}

.contactForm{
    padding: 0 34px;
    padding-top: 5%;
    /* 100px */
}

.contactForm h1{
    font-size: 3vw;
    /* 4 */
    color: #244d61;
    text-align: center;
    text-decoration: underline;
}

.mb-3{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-label{
    font-size: 1.5vw;
}

.form-control{
    max-width: 30vw;
    /* 40 */
    height: 5%;
    font-size: 1.1vw;
    padding: 3px;
}

.form-text{
    font-size: 1.1vw;
    color: rgb(75, 75, 75);
}

.form-check-label{
    font-size: 1.5vw;
    align-self: center;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    margin: 9px;
}

.btn{
    margin-left: 20px;
    font-size: 1.5vw;
    /* 2 */
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: #5689c0;
    color: #eaebed;
    cursor: pointer;
}

.btn:hover{
    background-color: #eaebed;
    color: #5689c0;
}

.projectContainer h1{
    font-size: 3.3vw;
    /* 4.5 */
    color: #eaebed;
    background-color: #5689c0;
    text-align: center;
    padding-top: 20px;
}

.projectList{
    height: 60vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project1{
    font-size: 1.7vw;
    /* 2.5 */
    display: flex;
    flex-direction: column;
}

.project2{
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
}

.project3{
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.project1 a span{
    font-size: 1.5vw;
    /* 2 */
    background-color: #244d61;
    color: #eaebed;
    border-radius: 1px;
}

.project2 a span{
    font-size: 1.5vw;
    background-color: #244d61;
    color: #eaebed;
    border-radius: 1px;
}

.project3 a span{
    font-size: 1.5vw;
    background-color: #244d61;
    color: #eaebed;
    border-radius: 1px;
}

.devInfo h1{
    font-size: 2.2vw;
    /* 3 */
    padding: 5px;
    text-decoration: underline;
}

.devInfo p{
    font-size: 1.1vw;
    /* 1.5 */
    padding: 5px;
}

.devInfo p span{
    font-size: 1.1vw;
    font-weight: bold;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
}

.ham{
    width: 3vw;
}

.cross{
    width: 3vw;
    margin-left: 15vw;
}

@media(max-width: 600px) {
    .devPic img{
        width: 40vw;
        height: auto;
    }

    .main{
        width: 100vw;
    }
}
